<MudTimeline Class="ma-2 pa-2"
             DisableModifiers="false"
             TimelineOrientation="TimelineOrientation.Vertical"
             TimelinePosition="TimelinePosition.Start"
             Reverse="false">
    
    <MudTimelineItem Size="Size.Medium" Color="Color.Info"
                     TimelineAlign="TimelineAlign.Start"
                     Elevation="3">
        <ItemContent>
            <MudCard Outlined="false" Elevation="3">
                <MudCardContent>
                    <MudText Typo="Typo.button">
                        <MudChip Variant="Variant.Filled" Color="Color.Success">
                            Version 0.0.3 - June-14-2022
                        </MudChip>
                    </MudText><br/>
                    
                    <MudChip Variant="Variant.Text" Color="Color.Success">
                        What's New
                    </MudChip>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                    <MudText Typo="Typo.body2">
                        <MudChip Variant="Variant.Text" Color="Color.Info">Enhencement</MudChip>
                    </MudText>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                    <MudText Typo="Typo.body2">
                        <MudChip Variant="Variant.Text" Color="Color.Error">Fixes</MudChip>
                    </MudText>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                </MudCardContent>
            </MudCard>
        </ItemContent>
        <ItemOpposite>
            <MudText Typo="Typo.body2">Is Activity Compled ? 
                <MudToggleIconButton 
                    Icon="@Icons.TwoTone.CheckBoxOutlineBlank" Color="@Color.Error" Title="Task Open"
                    ToggledIcon="@Icons.TwoTone.CheckBox" 
                    ToggledColor="@Color.Success" ToggledTitle="Task Completed"/>
            </MudText>
        </ItemOpposite>
    </MudTimelineItem>
    
    <MudTimelineItem Size="Size.Small" Color="Color.Dark"
                     TimelineAlign="TimelineAlign.Start"
                     Elevation="3">
        <ItemContent>
            <MudCard Outlined="false" Elevation="3">
                <MudCardContent>
                    <MudText Typo="Typo.button">
                        <MudChip Variant="Variant.Filled" Color="Color.Dark">
                            Version 0.0.2 - Mar-14-2022
                        </MudChip>
                    </MudText><br/>
                        
                    <MudChip Variant="Variant.Text" Color="Color.Success">
                        What's New
                    </MudChip>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                    <MudText Typo="Typo.body2">
                        <MudChip Variant="Variant.Text" Color="Color.Info">Enhencement</MudChip>
                    </MudText>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                    <MudText Typo="Typo.body2">
                        <MudChip Variant="Variant.Text" Color="Color.Error">Fixes</MudChip>
                    </MudText>
                    <MudContainer Class="pa-4">
                        <MudText Typo="Typo.body2">
                            <ul>
                                <li>1. Product add dialog</li>
                                <li>2. Product add Firebox</li>
                                <li>3. Product add Firebox</li>
                            </ul>
                        </MudText>
                    </MudContainer>
                </MudCardContent>
            </MudCard>
        </ItemContent>
        <ItemOpposite>
            <MudText Typo="Typo.body2">Is Activity Compled ? 
                <MudToggleIconButton 
                    Icon="@Icons.TwoTone.CheckBoxOutlineBlank" Color="@Color.Error" Title="Task Open"
                    ToggledIcon="@Icons.TwoTone.CheckBox" 
                    ToggledColor="@Color.Success" ToggledTitle="Task Completed"/>
            </MudText>
        </ItemOpposite>
    </MudTimelineItem>
</MudTimeline>