
@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

@*
    Ref: Theme provider
    https://mudblazor.com/customization/overview#custom-themes
*@

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
@* <MudThemeProvider Theme="_themeManager.Theme" /> *@
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>


@* <MudThemeManager Open="_themeManagerOpen" OpenChanged="OpenThemeManager" Theme="_themeManager" ThemeChanged="UpdateTheme" /> *@
@*  <MudThemeManagerButton OnClick="@(() => OpenThemeManager(true))" /> *@
@*  Elevation="_themeManager.AppBarElevation" -to be added in appBar *@

<MudAppBar Elevation="2" Bottom="false"> 
    <MudIconButton Icon="@Icons.Material.Filled.Menu" 
                   Color="Color.Inherit" Edge="Edge.Start" 
                   OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />

    <MudTextField  T="string" Style="height: 45px;"
                   Class="rounded-pill" Variant="Variant.Outlined" 
                   FullWidth="true" Adornment="Adornment.End"
                   Placeholder="Search any" AdornmentIcon="@Icons.Filled.Search"
                   AdornmentColor="Color.Secondary" />

    <MudMenu>
        <ActivatorContent>
            <MudAvatar Square="false" Color="Color.Info"
                       Class="ma-2"
                       Image="img/male-profile.png"
                       Variant="Variant.Outlined"></MudAvatar>
            @* <MudAvatar Image="img/male-profile.png" /> *@
            @* <MudIconButton Icon="@Icons.Material.Filled.Person"  *@
            @*                Color="Color.Secondary" aria-label="add to favorite"></MudIconButton> *@
        </ActivatorContent>
        <ChildContent>
            <MudMenuItem>Profile</MudMenuItem>
            <MudMenuItem>Theme</MudMenuItem>
            <MudMenuItem>Usage</MudMenuItem>
            <MudMenuItem>Sign Out</MudMenuItem>
        </ChildContent>
    </MudMenu>
            
    <MudToggleIconButton   
        Toggled="@ThemeChanged" 
        ToggledChanged="OnToggledChanged"
        Icon="@Icons.Rounded.WbSunny" 
        Color="@_switchTheme.Color" 
        Title="@_switchTheme.Title"
        ToggledIcon="@Icons.TwoTone.WbSunny" 
        ToggledColor="@_switchTheme.IconColor" 
        ToggledTitle="@_switchTheme.Title"/>
            
    <MudIconButton Icon="@Icons.TwoTone.Logout" 
                   Color="Color.Error"
                   Link="/Logout" />
   
            
</MudAppBar>
@* <MudDrawer @bind-Open="_drawerOpen" ClipMode="_themeManager.DrawerClipMode"  *@
@*            Elevation="_themeManager.DrawerElevation"></MudDrawer> *@
    
    <MudDrawer @bind-Open="DrawerOpen" Elevation="2"
                Fixed="true" Variant="@DrawerVariant.Responsive"
               OpenMiniOnHover="false">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">
                <a class="navbar-brand" href="" style="font-size: 24px;font-family: cursive;">
                    <i class="icofont-butterfly-alt icofont-2x" 
                       style="color: lightcoral; font-size: 28px;"></i>
                   @_txtCompanyName
                </a>
            </MudText>
            <MudText @ref="_mudVersionText" Color="Color.Info" Typo="Typo.overline">
                @_version
            </MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4 pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
    
   
    
</MudLayout>
